<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Enterprise Architect and a leader with a decade experience in Project planning, Delivery, Mentoring, Research & Development. Strengths include Rapid Learning Ability, Self Driven, Excellent communication with colleagues at all levels, Active contributor to Open source projects and communities. Have experience in the following domains: Intellectual Property, eCommerce, Language Learning and Telecommunication. </p>
</div><!--//summary-->
</section><!--//section-->