<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Entreprenuer and a leader with in-depth experience in Project planning, Delivery, Mentoring, Research & Development. Strengths include Rapid Learning Ability, Self Driven, Excellent communication with colleagues at all levels, Active contributor to Open source projects and communities. Some of my domain expertise include but not limited to Healthcare, Finance, Intellectual Property, eCommerce, eLearning and Communications </p>
</div><!--//summary-->
</section><!--//section-->