<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-pencil"></i>Contact</h2>
  <div class="contact_me">
    <form action="https://getsimpleform.com/messages?form_api_token=983e08980f7185f2f0ce2d383da428e1" method="post">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Your e-mail" required>
      <textarea name="message" placeholder="Message" class='contact_message' required></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>