<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Founder</h3>
        <div class="company">2017 - Present</div>
      </div>
      <div class="time">
        <img class='company-logo francium' src="{{site.baseurl}}/assets/images/francium_tech.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>Francium Tech is a Chennai based start up focussed on solving Enterprise grade problems at explosive speeds. We have expertise in solving problems related to Big Data, Search Engines, Rapid Application Development. We have strong open source presence and building things that are functional and beautiful are our core strength. We don't just stop at what your needs are, we exceed them. Our unique strength lies in the discovery phase. We strictly follow Test Driven Development and our Engineers are capable of handling problems of scale and we hire only the best in the industry. To read more, head to our website <a href='http://francium.tech'>here</a></p>
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Architect</h3>
        <div class="company">2014 - 2017</div>
      </div>
      <div class="time">
        <img class='company-logo' src="{{site.baseurl}}/assets/images/pramati.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>Pramati Technologies is an organization that builds independent companies focused on profitable, well-defined markets in social, mobile, and cloud computing technologies. We invest in cutting-edge technologies and people to create best-of-breed product companies. We have carved out a rare and unique path in India's impressive technological landscape - as a technology and product innovator.</p>
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Sr SDE</h3>
        <div class="company">2012 - 2013</div>
      </div>
      <div class="time">
        <img class='company-logo' src="{{site.baseurl}}/assets/images/chronus.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>My time at Chronus involved in consulting for Intellectual Ventures, one of the Global Leaders for the Invention Business in the Intellectual Property domain. During my time, I have developed extensive knowledge of technology frameworks to implement SaaS applications. In addition to this I have developed extensive knowledge of Intellectual Property domain such that I was driving the engineering execution of client’s business needs by translating them into predictable execution plans that result in high quality and on time delivery.</p>  
      
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Project Lead</h3>
        <div class="company">2010 - 2012</div>
      </div>
      <div class="time">
        <img class='company-logo' src="{{site.baseurl}}/assets/images/lister.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>Involved in leading a large team using Agile. Moderated the agile process for both the team and the customer, Rosetta Stone - one of the leading language learning software providers. Standardised recruitment and training activities across the organisation.</p>  
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Sr Software Engineer</h3>
        <div class="company">2009 - 2010</div>
      </div>
      <div class="time">
        <img class='company-logo' src="{{site.baseurl}}/assets/images/ebay.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>Web Application developer and consultant at eBay Inc., Worked on Product Catalog domain which included two fresh initiatives namely ebay community pictures and ebay Autotagger of listing to products. Was responsible for design and implementation both in Front end and server side.</p>  
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <div class='job-description'>
        <h3 class="job-title">Analyst</h3>
        <div class="company">2006 - 2009</div>
      </div>
      <div class="time">
        <img class='company-logo' src="{{site.baseurl}}/assets/images/verizon.png"/>
      </div>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
      <p>Developed Outside Plant applications for Verizon Telecom group. Lead the VENUe project (Verizon Engineering Network Utilities eSolutions) in Network Systems Domain. Was responsible for Research projects related to Spatial domain using Oracle 2D. Also worked deeply on XML and SVG parsing and Graphical rendering using Core Java for the product Kala. Web developer for Capital Management systems used internally within Verizon for managing project allocation and costing.</p>  
  </div><!--//details-->
</div><!--//item-->

</section><!--//section-->